@import "tailwindcss";

:root {
  --background: #2f2f2d;
  --foreground: #f5f5f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2f2d;
    --foreground: #f5f5f4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
