<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="Orca"
    Manufacturer="vanthaita"
    Version="$(var.Version)"
    UpgradeCode="6E7B76E3-2D0A-45A0-8E6C-0E0B3F8C8C15"
    InstallerVersion="500"
    Compressed="yes"
    Scope="perMachine"
  >
    <MajorUpgrade DowngradeErrorMessage="A newer version of Orca is already installed." AllowSameVersionUpgrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLDIR" Name="Orca">
        <Directory Id="INSTALLFOLDER" Name="bin" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Orca" Level="1">
      <ComponentGroupRef Id="OrcaComponents" />
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="installer/License.rtf" />

    <ComponentGroup Id="OrcaComponents" Directory="INSTALLFOLDER">
      <Component Id="OrcaExeComponent" Guid="*">
        <File Id="OrcaExe" Source="dist\orca.exe" KeyPath="yes" />
        <Environment
          Id="OrcaPath"
          Name="PATH"
          Value="[INSTALLFOLDER]"
          Part="last"
          Action="set"
          System="yes"
        />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
